<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>hello vue.js</h1>
    <section id="contact">
        <div class="card-product" :class="bindClass">
            
                <!-- v-for="product in products" -->
            <div
                class="card" 
                v-for="product in productFilter"
                :style="{ color: product.isCart ? 'black' : ''}"
                :class="{ cart: product.isCart }"
                @dblclick="onToggleCart($e, product)"
            >
                <img v-bind:src="product.img" alt="img product" class="card-img">
                <h1>{{ product.name }}</h1>
                <h2>{{ product.price }}</h2>
            </div>
        </div>
        <div class="card-product">
            <div class="card" @mouseover="onLogEvent">Mouse over</div>
            <div class="card" @mouseleave="onLogEvent">Mouse leave</div>
            <div class="card" @dblclick="onLogEvent($e, 100, 100)">Double click</div>
            <div class="card" @mousemove="onMouseMoveEvent">Double click
                Vi tri: {{ `${x} - ${y}`}}
            </div>
        </div>
    </section>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>
</html>