.card-product {
  background-color: pink;
  display: flex;
  gap: 10px;
}

.card {
    width: 200px;
    min-height: 200px;
    margin: 16px;
    background-color: brown;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.card-img {
    width: 100%;
}
